<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051571214199-vidqtbksnc6clr2ne6t63q7vraa6ced6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051571214199-vidqtbksnc6clr2ne6t63q7vraa6ced6</string>
	<key>API_KEY</key>
	<string>AIzaSyA8TUP4ceYX3LhoxQnpy1ImlWXeWdhSjmE</string>
	<key>GCM_SENDER_ID</key>
	<string>1051571214199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.individualAssignment</string>
	<key>PROJECT_ID</key>
	<string>firstapp-b59c8</string>
	<key>STORAGE_BUCKET</key>
	<string>firstapp-b59c8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051571214199:ios:90afacdc19b1679d3c3372</string>
</dict>
</plist>